 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for Data Science.
- Commonly used libraries by Data Scientists.
- Tools for Data Science.
- Arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas 
3. Numpy 
4. Scipy
5. Tensorflow

|Data Science Tools |
|------------------ |
|RStudio |
|Apache Spark |
|TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python
1. (3+3) -- evaluates to 6
2. (2x8) -- evaluates to 16
3. 6(3+4) -- evaluates to 42

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author ##
Anjali Yadav